html,
input,
select,
button {
  font-family: var(--font-family-base);
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/** „Til baka á forsíðu“ hlekkur **/
.back {
  margin-top: var(--spacing);
}
